footer{
    background-color: #150603;
    color: whitesmoke;
    height: 100%;
    width: 100%;

    .iconos{
        text-align: center;
        font-size: 30px;
        
        i{
            margin: 0px 10px 20px 0;
        }
    }
}